.react-flow {
  --xy-node-color-default: inherit;
  --xy-node-border-default: none;
  --xy-node-background-color-default: transparent;
  --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);
  --xy-node-boxshadow-hover-default: none;
  --xy-node-boxshadow-selected-default: none;
  --xy-node-border-radius-default: 3px;

  --xy-handle-background-color-default: #3a15cc;
  --xy-handle-border-color-default: #fff;
}

.react-flow.dark {
  --xy-node-color-default: inherit;
  --xy-node-border-default: none;
  --xy-node-background-color-default: transparent;
  --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);
  --xy-node-boxshadow-hover-default: none;
  --xy-node-boxshadow-selected-default: none;
  --xy-node-border-radius-default: 3px;

  --xy-handle-background-color-default: #bebebe;
  --xy-handle-border-color-default: #1e1e1e;
}
