.react-flow {
  --xy-node-color-default: inherit;
  --xy-node-background-color-default: transparent;
  --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);
  --xy-node-boxshadow-hover-default: none;
  --xy-node-boxshadow-selected-default: none;
  --xy-node-border-radius-default: 3px;

  --xy-handle-border-color-default: #1e1e1e;

  --xy-edge-stroke-default: #b1b1b7;
  --xy-edge-stroke-width-default: 4;
  --xy-edge-stroke-selected-default: #bfb;

  --xy-connectionline-stroke-default: #b1b1b7;
  --xy-connectionline-stroke-width-default: 1;

  --xy-attribution-background-color-default: rgba(255, 255, 255, 0.5);

  --xy-minimap-background-color-default: #fff;
  --xy-minimap-mask-background-color-default: rgba(240, 240, 240, 0.6);
  --xy-minimap-mask-stroke-color-default: transparent;
  --xy-minimap-mask-stroke-width-default: 1;
  --xy-minimap-node-background-color-default: #e2e2e2;
  --xy-minimap-node-stroke-color-default: transparent;
  --xy-minimap-node-stroke-width-default: 2;

  --xy-background-color-default: transparent;
  --xy-background-pattern-dots-color-default: #91919a;
  --xy-background-pattern-lines-color-default: #eee;
  --xy-background-pattern-cross-color-default: #e2e2e2;
  background-color: var(
    --xy-background-color,
    var(--xy-background-color-default)
  );
  --xy-node-border-default: none;
  --xy-node-border-selected-default: 1px solid #555;

  --xy-handle-background-color-default: #bebebe;

  --xy-selection-background-color-default: rgba(150, 150, 180, 0.1);
  --xy-selection-border-default: 1px dotted rgba(155, 155, 155, 0.8);
  --xy-resize-background-color-default: #3367d9;
}

.react-flow.dark {
  --xy-node-color-default: inherit;
  --xy-node-background-color-default: transparent;
  --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);
  --xy-node-boxshadow-hover-default: none;
  --xy-node-boxshadow-selected-default: none;
  --xy-node-border-radius-default: 3px;

  --xy-handle-border-color-default: #1e1e1e;

  --xy-edge-stroke-default: #b1b1b7;
  --xy-edge-stroke-width-default: 4;
  --xy-edge-stroke-selected-default: #bfb;

  --xy-connectionline-stroke-default: #b1b1b7;
  --xy-connectionline-stroke-width-default: 1;

  --xy-attribution-background-color-default: rgba(255, 255, 255, 0.5);

  --xy-minimap-background-color-default: #fff;
  --xy-minimap-mask-background-color-default: rgba(240, 240, 240, 0.6);
  --xy-minimap-mask-stroke-color-default: transparent;
  --xy-minimap-mask-stroke-width-default: 1;
  --xy-minimap-node-background-color-default: #e2e2e2;
  --xy-minimap-node-stroke-color-default: transparent;
  --xy-minimap-node-stroke-width-default: 2;

  --xy-background-color-default: transparent;
  --xy-background-pattern-dots-color-default: #91919a;
  --xy-background-pattern-lines-color-default: #eee;
  --xy-background-pattern-cross-color-default: #e2e2e2;
  background-color: var(
    --xy-background-color,
    var(--xy-background-color-default)
  );
  --xy-node-border-default: none;
  --xy-node-border-selected-default: 1px solid #555;

  --xy-handle-background-color-default: #bebebe;

  --xy-selection-background-color-default: rgba(150, 150, 180, 0.1);
  --xy-selection-border-default: 1px dotted rgba(155, 155, 155, 0.8);
  --xy-resize-background-color-default: #3367d9;
}

.react-flow__controls-button svg {
  fill: #0e0e0e;
}
